<mat-toolbar>
  <div class="toolbar-content">
    <a routerLink="/"><span class="toolbar-title">Edit profile</span></a>
  </div>
</mat-toolbar>

<div class="container">
  <div class="card">
    <form [formGroup]="nameForm" (ngSubmit)="changeName()" class="form" novalidate>
      <h2 class="form-title">Change Name</h2>
      
      <div class="form-group">
        <label for="newName" class="form-label">New Name:</label>
        <input type="text" formControlName="newName" class="form-input" />
      </div>
      
      <div class="form-actions">
        <button mat-raised-button type="submit">Change Name</button>
      </div>
    </form>
  </div>
</div>